@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700&subset=latin-ext,latin&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;;
  background-color: #414158;
  color: #ddd;
  text-align: center;
}

a {
  color: inherit;
}
